* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvectica, sans-serif;
}

.arro {
  background-color: #8f22d8;
  color: #ffff;
  height: 50%;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .section-2 {
  background-color: #0aa13f;
  color: #ffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-3 {
  background-color: #220e86;
  color: #ffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-3 {
  background-color: #4fccd8;
  color: #ffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.ss {
  height: 100px;
  height: auto;
  /* width: 25%; */
}
